body {
    font: 400 15px Lato, sans-serif;
    background-image: url(DeathtoStock_Wired2.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
}
html{
    overflow:auto;
}

.jumbotron { 
    background-color: #a64dff; /* Orange */
    color: #ffffff;
    height:200px;
    
}

#wrapper {
    width:100%;
    margin-left:0px;
    margin-right:0px;
	padding-right: 0px;
	padding-left: 0px;
	
}

.container {
    width:100%;
    overflow:hidden;
    padding-right: 0px;
	padding-left: 0px;
     margin-left:0px;
    margin-right:0px;
}

